a {
	color: #086788;
}

a:hover,
a:focus,
a:active {
	color: #0B94C1;
}


/* Header and Footer Styles
---------------------------*/

header, footer {
	color: #fff;
	background-color: #086788;
}

header a, footer a {
	color: #fff;
}
