{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}?v=00005">
{% endblock %}

{% block content %}
<div class="main-wrapper">
	<h2>Contact</h2>
	{% if messages %}
		<!--// Messages -->
		<ul class="messages">
		  {% for message in messages %}
		  <li class="{{ message.tags }}">{{ message }}</li>
		  {% endfor %}
		  </ul>
		{% endif %}

	<!--// Contact Links -->
	<section>
		<h3>Let's Keep in Touch!</h3>
		<div>
			<a href="abdullah@goota.com"><i class="fas fa-envelope"></i></a>
	    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
	    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-github"></i></a>
		</div>
		<div>
			<a href="abdullah@goota.com">abdullah@goota.me</a>
		</div>
	</section>

	<!--// Message Form -->
	<section id="message-form">
		<h3>Leave Me A Message</h3>
		{% if form.errors %}
		<p>Please fill the required fields with valid data</p>
		{% endif %}
		<form action="{% url 'send_message' %}" method="POST">
			{% for field in form %}
			<p>{{ field }}</p>
			{% endfor %}
			{% csrf_token %}
			<p><input id="send" type="submit" value="Send"></p>
		</form>
	</section>
</div>
{% endblock %}
