{% extends "base.html" %}
{% load static %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/work.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/work_page.css' %}">

{% endblock %}

{% block title %}Work{% endblock %}

{% block content %}
<div class="main-wrapper">
	<!--// Projects list -->
	<section id="projects">
		<h2>Projects</h2>
		{% if projects %}
		<div class="projects">
			{% for project in projects %}
			<div class="project">
				<img src="{{ project.pic.url }}" alt="{{ project.name }}">
				<h3><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h3>
			</div>
		{% endfor %}
		</div>
		{% else %}
		<p>Sorry, I have not added my projects yet.</p>
		{% endif %}
	</section>

	{% if feedbacks %}
	<!--// Feedbacks list -->
	<section>
		<h2>Feedbacks</h2>
		<div class="feedbacks">
			{% for feedback in feedbacks %}
			<div class="feedback">
				<div>
					<img class="client" src="{% if feedback.client_pic %}{{ feedback.client_pic.url }}
					{% else %}{% static 'img/user.png' %}
					{% endif %}" alt="{{ feedback.client_name }}">
				</div>
				<div>
					<h3><a href="{{ feedback.client_link }}">{{ feedback.client_name }}</a></h3>
					<p>{{ feedback.quote }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% endif %}
</div>
{% endblock %}