<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Goota{% endblock %}</title>
</head>
<body>
	<!--// Header -->
	<header>
		<h1>Goota</h1>

		<nav>
			<a href="#">About</a>
			<a href="#">Work</a>
			<a href="#">Contact</a>
			<a href="#">Blog</a>
		</nav>
	</header>

	{% block content %}
	{% endblock %}

	<!--// Footer -->
	<footer>
		<h2>Let's Keep in Touch!</h2>
		<div>
			<a href="abdullah@goota.com">abdullah@goota.me</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">LinkedIn</a>
            <a href="#" target="_blank">Github</a>
		</div>
		<a href="#">Leave me a message</a>
		<p>&copy; 2018 goota.me</p>
	</footer>
</body>
</html>