{% extends "base.html" %}
{% load static %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}?v=00005">
{% endblock %}

{% block content %}
<!--// Site's Main Navigation -->
<nav class="main-nav">
	<div class="main-wrapper">
		<h1><a id="about" href="{% url 'about' %}">About</a></h1>
		<h1><a id="work" href="{% url 'work' %}">Work</a></h1>
		<h1><a id="contact" href="{% url 'contact' %}">Contact</a></h1>
		<h1><a id="blog" href="{% url 'post_list' %}">Blog</a></h1>
	</div>
</nav>
{% endblock %}